{% extends "base.html" %}

{% block title %}Машини{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Машини</h2>
  
  <!-- Кнопка виклику модалки для додавання -->
  <a href="{% url 'car_add' %}" class="btn btn-primary mb-3">Додати машину</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Номер</th>
      <th>Коментар</th>
      <th>Закріплений водій</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ car.number }}</td>
      <td>{{ car.comment }}</td>
      <td>{{ car.default_driver.full_name|default:"—" }}</td>
      <td>
        <a href="{% url 'car_edit' car.id %}" class="btn btn-sm btn-warning">Редагувати</a>
        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ car.id }}">
          Видалити
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
