{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4">✏️ Редагування профілю</h2>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <div class="mb-3">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>

                <div class="mb-3">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>

                <button type="submit" class="btn btn-primary w-100">Зберегти</button>
            </form>

            <a href="{% url 'profile' %}" class="btn btn-secondary w-100 mt-3">
                Назад до профілю
            </a>

        </div>
    </div>
</div>
{% endblock %}
