{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    {% if not request.user.is_authenticated %}
        <h2>Ласкаво просимо на головну сторінку!</h2>
        <p>Будь ласка, <a href="{% url 'login' %}">увійдіть</a> або <a href="{% url 'register' %}">зареєструйтесь</a>, щоб продовжити.</p>
    {% else %}
        <h2>Вітаю, {{ request.user.first_name }} {{ request.user.last_name }}!</h2>
        <p>Ваша роль: <b>{{ request.user.get_role_display }}</b></p>
    {% endif %}
</div>
{% endblock %}
