<div class="sidebar d-flex flex-column p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link" id="home">🏠 Home</a>
        </li>
        <li>
            <a href="{% url 'driver_list' %}" class="nav-link" id="drivers">🚚 Водії</a>
        </li>
        <li>
            <a href="{% url 'partner_list' %}" class="nav-link" id="partners">Відправники / Отримувачі</a>
        </li>
        <li>
            <a href="{% url 'place_list' %}" class="nav-link" id="places">📍 Місця розвантаження</a>
        <li>
            <a href="{% url 'car_list' %}" class="nav-link" id="cars">🚛 Автомобілі</a>
        </li>
        <li>
            <a href="{% url 'trailer_list' %}" class="nav-link" id="trailers">🚚 Причепи</a>
        </li>
        <li>
            <a href="{% url 'culture_list' %}" class="nav-link" id="cultures">🌾 Культури</a>
        </li>
        <li>
            <a href="{% url 'reports:trip_report' %}" class="nav-link" id="reports">📊 Звіти</a>
        </li>
    </ul>
</div>
<div id="page" data-page="{{ page }}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentPage = document.getElementById("page").getAttribute("data-page");
        console.log("Current page:", currentPage);
        if (currentPage) {
            const activeLink = document.getElementById(currentPage);
            if (activeLink) {
                activeLink.classList.add("active");
            }
        }
    });
</script>
