
.sort-link {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

.sort-link:hover {
    color: #2563eb;
}

.sort-arrow {
    font-weight: normal;
    font-size: 14px;
    margin-left: 3px;
}