{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
    <h2>Журнал надходжень</h2>
    
    <!-- Фільтри та пошук -->
    <form method="get" class="mb-3">
        <div class="row g-2 align-items-end">

            <div class="col-6 col-md-2">
                <label class="form-label mb-1">Авто</label>
                <select name="car" class="form-select form-select-sm">
                    <option value="">Всі</option>
                    {% for car in cars %}
                        <option value="{{ car.id }}" {% if request.GET.car == car.id|stringformat:"s" %}selected{% endif %}>{{ car.number }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-2">
                <label class="form-label mb-1">Водій</label>
                <select name="driver" class="form-select form-select-sm">
                    <option value="">Всі</option>
                    {% for driver in drivers %}
                        <option value="{{ driver.id }}" {% if request.GET.driver == driver.id|stringformat:"s" %}selected{% endif %}>{{ driver.full_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-2">
                <label class="form-label mb-1">Культура</label>
                <select name="culture" class="form-select form-select-sm">
                    <option value="">Всі</option>
                    {% for culture in cultures %}
                        <option value="{{ culture.id }}" {% if request.GET.culture == culture.id|stringformat:"s" %}selected{% endif %}>{{ culture.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-2">
                <label class="form-label mb-1">Відправник / Отримувач</label>
                <select name="sender" class="form-select form-select-sm">
                    <option value="">Всі</option>
                    {% for partner in partners %}
                        <option value="{{ partner.id }}" {% if request.GET.sender == partner.id|stringformat:"s" %}selected{% endif %}>{{ partner.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="col-12 text-end mt-2">
                <button type="submit" class="btn btn-sm btn-primary">🔍 Фільтрувати</button>
                <a href="{% url 'arrival_journal_list' %}" class="btn btn-sm btn-secondary">Скинути</a>
            </div>
        </div>
    </form>

    <a href="{% url 'arrival_journal_add' %}" class="btn btn-success mb-3">Додати запис</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>№ Документа</th>
            <th>Дата</th>
            <th>Відправник / Отримувач</th>
            <th>Авто</th>
            <th>Водій</th>
            <th>Культура</th>
            <th>Брутто(кг)</th>
            <th>Тара(кг)</th>
            <th>Нетто(кг)</th>
            <th>Місце</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entrys %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.document_number }}</td>
            <td>{{ entry.date_time|date:"d.m.Y H:i" }}</td>
            <td>{{ entry.sender_or_receiver }}</td>
            <td>{{ entry.car }}</td>
            <td>{{ entry.driver }}</td>
            <td>{{ entry.culture }}</td>
            <td>{{ entry.weight_gross }}</td>
            <td>{{ entry.weight_tare }}</td>
            <td>{{ entry.weight_net }}</td>
            <td>{{ entry.unloading_place }}</td>
            <td>
                <a href="{% url 'arrival_journal_update' entry.id %}" class="btn btn-sm btn-warning">Редагувати</a>
                <!-- Видалення через модалку -->
                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ entry.id }}">
                    Видалити
                </button>
            </td>
        </tr>

        <!-- Modal Delete -->
        <div class="modal fade" id="deleteModal{{ entry.id }}" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{% url 'arrival_journal_delete' entry.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Підтвердження видалення</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Ви впевнені, що хочете видалити рейс <b>{{ entry.document_number }}</b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-danger">Видалити</button>
                </div>
                </form>
            </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">«</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">«</span></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">»</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">»</span></li>
        {% endif %}
    </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
